// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gradation-content {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  margin:0;
}

#gradation-image {
  height: 120px;
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
}

.check:focus {
  border-color: none;
  box-shadow: none;
}

.search_name {
  text-align: right;
  padding-right: 5px;
}

// レスポンシブ
@media screen and (max-width: 768px){

  .search_name {
    text-align: center;
    padding-right: 0px; 
  }

  .nav-link {
    display: block;
    padding: .5rem .7rem;
  }

  .offset-2 {
    margin-left: 16.666667%;
    padding-left: 1px;
  }

  .image-ps {
    padding-left: 0px!important;
  }
}